body {
  overflow: hidden;
}
svg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none; /* para não interferir nos cliques da página */
  z-index: 0; /* para ficar atrás do conteúdo */
}
